/* ヘッダー全体のスタイル */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to left,
    #52d662,
    #38a169
  ); /* 右から左に色が濃くなるグラデーション */
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 2px 0; /* ヘッダー全体の余白 */
}

/* ヘッダー内のコンテナ */
.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 325px;
  width: 100%;
  padding: 0 20px;
}

/* ロゴのスタイル */
.headerLogo {
  display: flex;
  align-items: center;
  text-align: left;
  align-items: flex-end;
}

.logo-image {
  height: 80px; /* ロゴ画像の高さを指定 */
  width: auto; /* アスペクト比を維持 */
}

/* ナビゲーションメニュー */
.headerNav {
  width: 100%;
}
.headerMenu {
  display: flex;
  justify-content: flex-start; /* ボタンを左寄せ */
  gap: 30px; /* ボタン間のスペース */
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 50px; /* メニューの左のスペースを調整 */
  margin-left: 23%; /* メニュー全体を右に少し移動 */
  margin-top: -2%; /* メニューの上部位置を調整 */
}

.headerLink {
  color: white;
  text-decoration: none;
  font-size: 22px; /* フォントサイズを少し大きく */
  transition: color 0.3s;
}

.headerLink:hover {
  color: #e2e8f0; /* ホバー時の色 */
}

/* ログインボタンのスタイル */
.headerLogin {
  position: absolute;
  top: 15px;
  right: 20px;
}

.headerLogin .headerLink {
  font-weight: bold;
  font-size: 25px;
  padding: 12px 24px;
  margin-top: auto;
}
